@model MVCDisco.Models.Album

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavMenu_Partial")
<div id="contenedor_index">
    <div class="contenedor_izquierdo_cancion">
         <img class="cualquiera" src="@Url.Content("~/Content/imagen/hombre.jpg")" alt="hombre_con_computadora" width="310" height="559" />
    </div>

   <div class="contenedor_derecho_cancion">

                        @using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

   
                                <h2>Create Album</h2>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Nombre)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBox("Nombre", null, new { @class = "form-control",placeholder="Ingrese Nombre"})
                                    @Html.ValidationMessageFor(model => model.Nombre)
                                </div>

                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Anio)
                                </div>
                                <div class="editor-field">
                                     @Html.TextBox("Anio", null, new { @class = "form-control",placeholder="Ingrese Año"})
                                    @Html.ValidationMessageFor(model => model.Anio)
                                </div>

                                  <div class="editor-label">
                                    @Html.LabelFor(model => model.IdArtista,"Artistas")
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownList("IdArtista", String.Empty)
                                    @Html.ValidationMessageFor(model => model.IdArtista)
                                </div>

                                <p>
                                    <input type="submit" value="Create"  class="btn btn-default" />
                                </p>
   
                        }
                 <div class="espacio_blanco"></div>
            <div class="espacio_blanco"></div>
       </div>
    </div>
