@model MVCDisco.Models.Album

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavMenu_Partial")
<div id="contenedor_index">

    <div class="contenedor_izquierdo_cancion">
         <img class="cualquiera" src="@Url.Content("~/Content/imagen/hombre.jpg")" alt="hombre_con_computadora" width="310" height="559" />
    </div>
   

    <div class="contenedor_derecho_cancion">

                @using (Html.BeginForm("Edit", "Album", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <h2>Editar Album</h2>
    
                        <div class="editor-field">
                            @Html.HiddenFor(model => model.IdAlbum)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Nombre)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Nombre)
                            @Html.ValidationMessageFor(model => model.Nombre)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Anio)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Anio)
                            @Html.ValidationMessageFor(model => model.Anio)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.FechaCreación)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FechaCreación)
                            @Html.ValidationMessageFor(model => model.FechaCreación)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.IdUsuario)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IdUsuario)
                            @Html.ValidationMessageFor(model => model.IdUsuario)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.IdArtista)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.IdArtista)
                            @Html.ValidationMessageFor(model => model.IdArtista)
                        </div>

                        <p>
                            <input type="submit" value="Save" />
                        </p>
                }
                 <div class="espacio_blanco"></div>
                 <div class="espacio_blanco"></div>

          </div>
    </div>

